$color-background-light: #fafafa;
$color-surface-light: #ffffff;
$color-text-primary-light: #000000;
$color-text-secondary-light: #666666;
$color-button-primary-hover-light: #383838;
$color-button-secondary-hover-light: #f2f2f2;
$color-button-secondary-border-light: #ebebeb;

$color-background-dark: #000000;
$color-surface-dark: #000000;
$color-text-primary-dark: #ededed;
$color-text-secondary-dark: #999999;
$color-button-primary-hover-dark: #cccccc;
$color-button-secondary-hover-dark: #1a1a1a;
$color-button-secondary-border-dark: #1a1a1a;

$breakpoint-sm: 600px;
